# dependencies
node_modules

# build
.next
/dist

# Deployment
.vercel

# misc
.DS_Store
*.pem

# env files
.env*.local

# generated
src/generated/prisma
src/generated/relay/*
!src/generated/relay/.gitkeep

# database dumps
*.dump
